*.log
.DS_Store
.env
.env.backup
.env.production

# Subdirectorios externos no parte del proyecto
/tailadmin-laravel-pro-main
/api-modules-1.0.6
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
